# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\projects\springmvc-07-interceptor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
